<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2 style="color:darkblue;"><u>Listado de mis familiares</u></h2>

    {% for familiar in lista_familiares %}
        <ul>
            <li> <b><i>Nombre:</i></b> {{familiar.nombre}}, <b><i>Dirección:</i></b> {{familiar.direccion}}, <b><i>Documento:</i></b> {{familiar.numero_documento}}, <b><i>CP:</i></b> {{familiar.codigo_postal}} </li>
        </ul>
    {% endfor %}
    
</body>
</html>